<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lee.minted">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="Homey"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Dayar_Activity" />
        <activity android:name=".Login_Vaad_Activity" />
        <activity android:name=".Menu_Dayar_Activity" />
        <activity android:name=".Menu_Vaad_Activity" />
        <activity android:name=".Hadar_Dayarim" />
        <activity android:name=".takalot" />
        <activity android:name=".tlunot" />
        <activity android:name=".forum" />
        <activity android:name=".maazan" />
        <activity android:name=".daf_kesher"/>
        <activity android:name=".dayarProfile" />
        <activity android:name=".add_activity_toCalendar_dayar" />
        <activity android:name=".add_takala"/>
    </application>

</manifest>